# Ignore executables
*.exe
*.pdb
*.dll

# Ignore build directories
Debug*
Release*
*build

# Ignore typically generated output files
gas*.emk
outFile*.csv
debug*.xml

# Ignore restart files and any backup copies of them
restart*/

# Ignore run logs and captured console output
*.log
gcam_run_*.txt

# Ignore local BaseX client state
.basex
.basexhome
